{% extends 'layout.html' %}

{% block title %}Flask tutorial - Signin{% endblock %}

{% block style %}{% endblock %}

{% block content %}

<form action="{{ request.url }}" method="POST" class="ui form signin-form">
  {{ form.csrf_token }} 
  <div class="field"> 
    <div class="ui small input"> 
      {{ form.username(placeholder="Username") }}
       
    </div>
  </div>
  <div class="field"> 
    <div class="ui small input"> 
      {{ form.password(placeholder="Password") }} 
    </div>
  </div>

  <button type="submit" class="fluid ui primary button">로그인</button>
</form>

{% endblock %}
